/.idea/$CACHE_FILE$
/.idea/deployment.xml
/.idea/dictionaries
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/nodejs-goldylocks-api.iml
/.idea/vcs.xml
/.idea/workspace.xml
